/* Use Roboto Mono throughout */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 15px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  max-width: 300px;
  width: 250px;       /* Fixed width for a vertical shape */
}

#controls h1 {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#controls p {
  margin: 0 0 10px;
  font-size: 14px;
  text-align: left;
  font-weight: regular;
}

.divider {
  border: 0;
  height: 1.5px;
  background: #ccc;   /* Adjust color as needed */
  margin: 20px 0;     /* Adjust spacing */
}

#dateSlider {
  width: 100%;
  margin: 10px 0;
}

/* Increase popup container size */
.mapboxgl-popup-content {
  width: 230px !important;
  height: 100% !important;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}